In [16]:
import pandas as pd
import glob as glob
import numpy as np

In [17]:
images_path = '/mnt/data/psteinmetz/neotex/data_CNN/images_15062024/'
data = pd.concat(
    (
        pd.DataFrame(glob.glob(f'{images_path}*/*png')),
        pd.DataFrame(
            [x.split('/')[-1][:-4] for x in glob.glob(f'{images_path}*/*png')]
        ),
        pd.DataFrame(
            [k.split('/')[-2] for k in glob.glob(f'{images_path}*/*png')]
        ),
    ),
    axis=1,
)

In [18]:
data

                                                      0      0          0
0     /mnt/data/psteinmetz/neotex/data_CNN/images_15...  60_10  Ambiguous
1     /mnt/data/psteinmetz/neotex/data_CNN/images_15...  86_10  Ambiguous
2     /mnt/data/psteinmetz/neotex/data_CNN/images_15...   5_17  Ambiguous
3     /mnt/data/psteinmetz/neotex/data_CNN/images_15...  67_38  Ambiguous
4     /mnt/data/psteinmetz/neotex/data_CNN/images_15...  50_12  Ambiguous
...                                                 ...    ...        ...
4307  /mnt/data/psteinmetz/neotex/data_CNN/images_15...   43_9      Round
4308  /mnt/data/psteinmetz/neotex/data_CNN/images_15...  73_38      Round
4309  /mnt/data/psteinmetz/neotex/data_CNN/images_15...  82_11      Round
4310  /mnt/data/psteinmetz/neotex/data_CNN/images_15...  28_40      Round
4311  /mnt/data/psteinmetz/neotex/data_CNN/images_15...  43_35      Round

[4312 rows x 3 columns]

In [19]:
arrays = glob.glob(f'{images_path}*/*npy')

In [20]:
def pickle_read(data):
    return np.load(data)

In [21]:
array

'/mnt/data/psteinmetz/neotex/data_CNN/images_15062024/Arrays/8_11.npy'

In [25]:
i=0
for array in arrays:
    
    arr = pickle_read(array)
    i+=1
    if i == 1:
        break

In [26]:
arr.shape

(51, 51)

In [27]:
arr

array([[ 0.00509022,  0.6964348 ,  0.7962482 , ..., -0.14484829,
         0.5280761 ,  0.11630202],
       [-0.1511627 ,  0.47622845,  0.6691067 , ..., -0.5891899 ,
         0.07008877,  0.00952909],
       [ 0.06171241,  0.5164595 ,  0.34928605, ...,  0.12326601,
        -0.28539795, -0.12181648],
       ...,
       [ 0.30893302,  0.0565336 , -0.21344587, ...,  0.9910506 ,
         0.7383308 ,  0.9264459 ],
       [ 0.06308869, -0.09668861, -0.21395585, ...,  0.2876634 ,
        -0.20087038,  0.0666543 ],
       [-0.3604835 , -0.32023054,  0.03405916, ...,  0.05929326,
        -0.28269085, -0.07500792]], dtype=float32)